<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
{% if flag == 2 %}
<meta http-equiv="refresh" content="1; url=http://localhost:5000/index">
{%endif%}
{% if flag == 1 %}
<div style="text-align: center;"><img src='/static/images/1.jpg'></div>
<form>
    <div style="text-align: center;">
     <p>
            <label>
                Логин:
                <input type="text" name="login" required>
            </label>
            </p>
        <p>
          <label>
                Пароль:
                <input type="text" name="pass" required>
            </label>
            </p>
        <p>
            <input type="submit" value="Aвторизация">
        </p>
    </div>
</form>
{% endif %}
</body>
</html>